before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache: 
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/



#use "MegAlexa/gradlew stage-name" to run stages!
jobs:
  include:
    - stage: "Static tests"
      name: "Static tests"
      addons:
       sonarcloud:
          organization: "sgt390-github"
          token:
             secure: "$SONAR_TOKEN"
      script: sonar-scanner
    - stage: "Dynamic tests"
      language: android
      android:
        components:
          - build-tools-28.0.3
          - android-28
        licenses:
          - 'android-sdk-preview-license-52d11cd2'
          - 'android-sdk-license-.+'
          - 'google-gdk-license-.+' 
      name: "Unit tests"
      script: MegAlexa/gradlew build
stages:
  - "Static tests"
  - "Dynamic tests"
notifications:
  slack: zerosevengroup:awH2p9uSzEPY9plMSyKBtAHF
